
AlgorithmicUnitTesting/obj/project.nuget.cache
AlgorithmicUnitTesting/obj/project.assets.json
AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.GeneratedMSBuildEditorConfig.editorconfig
AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.csproj.AssemblyReference.cache
AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.assets.cache
AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.AssemblyInfoInputs.cache
AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.AssemblyInfo.cs
AlgorithmicUnitTesting/obj/AlgorithmicUnitTesting.csproj.nuget.g.props
AlgorithmicUnitTesting/obj/AlgorithmicUnitTesting.csproj.nuget.dgspec.json
.vs/AlgorithmicUnitTesting/FileContentIndex/read.lock
.vs/AlgorithmicUnitTesting/FileContentIndex/e1d9a543-e958-421b-b475-2da3faca8e01.vsidx
.vs/AlgorithmicUnitTesting/FileContentIndex/3d3c9cba-61c5-4e33-ab3d-158994bcd559.vsidx
.vs/AlgorithmicUnitTesting/FileContentIndex/148fec1d-0b42-402e-b3a1-ec013fc2e775.vsidx
.vs/AlgorithmicUnitTesting/FileContentIndex/6606fdcd-73a5-4f8b-a636-0c9b647a3369.vsidx
/.my_key.txt.pub.swo
/.my_key.txt.pub.swp
/my_key.txt
/my_key.txt.pub
AlgorithmicUnitTesting/obj/x64/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
AlgorithmicUnitTesting/obj/x64/Debug/net6.0/AlgorithmicUnitTesting.AssemblyInfo.cs
AlgorithmicUnitTesting/obj/x64/Debug/net6.0/AlgorithmicUnitTesting.AssemblyInfoInputs.cache
AlgorithmicUnitTesting/obj/x64/Debug/net6.0/AlgorithmicUnitTesting.assets.cache
AlgorithmicUnitTesting/obj/x64/Debug/net6.0/AlgorithmicUnitTesting.GeneratedMSBuildEditorConfig.editorconfig
AlgorithmicUnitTesting/obj/x64/Debug/net6.0/AlgorithmicUnitTesting.GlobalUsings.g.cs
AlgorithmicUnitTesting/obj/x64/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
AlgorithmicUnitTesting/obj/x64/Release/net6.0/AlgorithmicUnitTesting.AssemblyInfo.cs
AlgorithmicUnitTesting/obj/x64/Release/net6.0/AlgorithmicUnitTesting.AssemblyInfoInputs.cache
AlgorithmicUnitTesting/obj/x64/Release/net6.0/AlgorithmicUnitTesting.assets.cache
AlgorithmicUnitTesting/obj/x64/Release/net6.0/AlgorithmicUnitTesting.GeneratedMSBuildEditorConfig.editorconfig
AlgorithmicUnitTesting/obj/x64/Release/net6.0/AlgorithmicUnitTesting.GlobalUsings.g.cs
.vs/AlgorithmicUnitTesting/FileContentIndex/ccec6fae-a74c-4c64-ad77-cc77a9bf031f.vsidx
/.vs/AlgorithmicUnitTesting/FileContentIndex
/.vs/AlgorithmicUnitTesting/v17/.suo
/.vs/AlgorithmicUnitTesting/v17/DocumentLayout.backup.json
/.vs/AlgorithmicUnitTesting/v17/DocumentLayout.json
/.vs/ProjectEvaluation/algorithmicunittesting.metadata.v7.bin
/.vs/ProjectEvaluation/algorithmicunittesting.projects.v7.bin
/.vs/slnx.sqlite
/AlgorithmicUnitTesting/bin/Debug/net6.0/AlgorithmicUnitTesting.dll
/AlgorithmicUnitTesting/bin/Debug/net6.0/AlgorithmicUnitTesting.exe
/AlgorithmicUnitTesting/bin/Debug/net6.0/AlgorithmicUnitTesting.pdb
/AlgorithmicUnitTesting/obj/Debug/net6.0/ref/AlgorithmicUnitTesting.dll
/AlgorithmicUnitTesting/obj/Debug/net6.0/refint/AlgorithmicUnitTesting.dll
/AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.AssemblyInfo.cs
/AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.AssemblyInfoInputs.cache
/AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.csproj.CoreCompileInputs.cache
/AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.csproj.FileListAbsolute.txt
/AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.dll
/AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.genruntimeconfig.cache
/AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.pdb
/AlgorithmicUnitTesting/obj/Debug/net6.0/AlgorithmicUnitTesting.sourcelink.json
/AlgorithmicUnitTesting/obj/Debug/net6.0/apphost.exe
/.vs/AlgorithmicUnitTesting/DesignTimeBuild/.dtbcache.v2
